@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-color: #1f4482;
  height: 69.9vh;
  display: flex;
}

.container {
  flex: 1;
  color: white;
  /* border: 1px solid yellow; */
}

.container_first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  margin-left: 150px;
  margin-bottom: 50px;
}

#yellow_text {
  color: #e9ee00;
}

.about {
  font-size: 24px;
  font-weight: 300;
  font-weight: lighter;
  font-family: "DM Sans", sans-serif;
  margin-left: 150px;
  margin-bottom: 100px;
}

#input_email {
  font-family: "Inter", sans-serif;
  margin-left: 150px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  padding: 20px 35px 20px 35px;
  font-weight: 600;
  margin-right: 13px;
  margin-bottom: 25px;
}

#submit_btn {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  padding: 21px 45px 21px 45px;
  border: none;
  background-color: #282828;
  color: white;
  border-radius: 8px;
  font-weight: 700;
}

.policy {
  font-family: "Inter", sans-serif;
  margin-left: 150px;
  transform: translateX(46px);
}

.container_second {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  width: 35%;
  height: auto;
  transform: translateX(50px);
  box-shadow: 0 0 100px rgba(255, 255, 255, 1);
  border-radius: 30px;
}

.white-line {
  border: none;
  height: 1px;
  background-color: white;
}

.footer {
  background-color: #282828;
  height: 30vh;
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  font-size: 20px;
  font-weight: 350;
}

.footer_text {
  list-style: none;
  margin-top: 30px;
}

.footer_first {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

.footer_second {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.footer_second li {
  margin-right: 250px;
}

.footer_text li {
  margin-bottom: 10px;
}
